################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrontEndMCF/.vs/FrontEndMCF/FileContentIndex
/BackEndMCF/.vs/BackEndMCF/FileContentIndex
