USE [master]
GO
/****** Object:  Database [QueryTest_MCF]    Script Date: 8/6/2024 3:33:07 AM ******/
CREATE DATABASE [QueryTest_MCF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QueryTest_MCF', FILENAME = N'C:\Users\krist\QueryTest_MCF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QueryTest_MCF_log', FILENAME = N'C:\Users\krist\QueryTest_MCF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QueryTest_MCF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QueryTest_MCF]
GO
/****** Object:  Table [dbo].[TblCabang]    Script Date: 8/6/2024 3:33:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCabang](
	[KodeCabang] [int] NOT NULL,
	[NamaCabang] [varchar](50) NULL,
 CONSTRAINT [PK_TblCabang] PRIMARY KEY CLUSTERED 
(
	[KodeCabang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMotor]    Script Date: 8/6/2024 3:33:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMotor](
	[KodeMotor] [varchar](20) NOT NULL,
	[NamaMotor] [varchar](50) NULL,
 CONSTRAINT [PK_TblMotor] PRIMARY KEY CLUSTERED 
(
	[KodeMotor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPembayaran]    Script Date: 8/6/2024 3:33:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPembayaran](
	[NoKontrak] [varchar](50) NOT NULL,
	[TglBayar] [datetime] NULL,
	[JumlahBayar] [bigint] NULL,
	[KodeCabang] [int] NULL,
	[NoKwitansi] [varchar](60) NULL,
	[KodeMotor] [varchar](20) NULL,
 CONSTRAINT [PK_Tbl__Pembayaran] PRIMARY KEY CLUSTERED 
(
	[NoKontrak] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
